:root {
	--color-normal: rgb(39, 39, 47);
	--color-info: rgb(74, 134, 255);
	--color-succcess: rgb(61, 203, 108);
	--color-warning: rgb(255, 181, 69);
	--color-error: rgb(255, 63, 95)
}


body {
	font-family: "Roboto", "Helvetica", "Arial", "sans-serif";
}

#property-editor h1 {
	padding: 8px;
	font-size: 1.25rem;
}
#root:has(#property-editor)  {
	width: 100%;
	text-align: left;
}

#property-editor {
	background-color: rgba(50,51,61,1);
	color: rgba(255, 255, 255, 0.698);
	width: 100%;
}

.property-group {
	background-color: (50, 51, 61);
	font-size: 14px;
	line-height: 1.43;
	margin-top: 2px;
	margin-bottom: 2px;
	margin-left: 8px;
	padding-left: 16px;
	padding-right: 16px;
}

.property-group summary {
	display: flex;
	width: 100%;
}
.property-group summary div:first-child {
	min-width: 25%;
	line-height: 24px;
	vertical-align: middle;
	text-align: left;
}
.property-group summary div:nth-child(2) {
	color: #616161
}

.property-input {
	margin-left: 16px;
	padding-left: 8px;
}
.property-group > details > div label {
	margin-left: 16px;
	min-width: 25%;
	display: inline-block;
	font-size: 1em;
	font-size: 14px;
}

.property-input {
	background-color: rgb(55, 55, 64);
	margin-bottom: 2px;
}

.property-input input {
	height: 25px;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.698);
	background: none;
	border: 0;
	padding: 4px 4px 0px 4px;
	height: 11h;
	border-bottom: 1px solid rgba(255,255,255,0.2980392156862745);
}

.material-icons {
	font-size: 20px !important;
	vertical-align: middle;
}

button[type="button"]:has(.material-icons) {
	background: none;
	border: none;
	color: rgba(255, 255, 255, 0.698);
	padding: 0px 4px;
}

button[type="button"] .material-icons {
	font-size: 24px !important;
}
.material-icons.inactive {
	font-size: 24px !important;
	color:  rgba(255, 255, 255, 0.26) !important;
	fill:  rgba(255, 255, 255, 0.26) !important;
}
.material-icons.frozen {
	color: #00bfd8;
}
.naterial-icons.info {
	color: rgba(50,153,255,1)
}

.property-input > div:has(table) {
	width: 100%;
	display: flex;
	justify-content: center;
}
.property-input table {
	color: rgba(255, 255, 255, 0.698);
	border-collapse: collapse;
	line-height: 1.43;
	width: 70%;

}
.property-input table tr:nth-child(2n) {
	background-color: #424242 
}
.property-input table tr:nth-child(2n+1) {
	background-color: #212121
}

.property-input table td:nth-child(2) {
	width: fit-content;
}
.property-input table td:nth-child(2) .material-icons {
	font-size: 20px !important;
}

.property-input table td {
	padding: 2px 8px 2px 7px;
	border: 1px solid rgba(255,255,255,0.11764705882352941);
	border-top: none;
	border-left: none;
	height: 30px;
}

.toast-container {
	bottom: 24px;
	left: 24px;
	position: fixed;
	z-index: 1000;
	pointer-events: none;
}

.toast-normal { background-color: var(--color-normal);}
.toast-info { background-color: var(--color-info);}
.toast-succcess { background-color: var(--color-succcess);}
.toast-warning { background-color: var(--color-warning);}
.toast-error { background-color: var(--color-error);}

.toast-container .toast {
	margin-top: 8px;
	padding: 6px 16px 6px 16px;
	min-width: 288px;
	max-width: 500px;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
}
.toast span:nth-child(2) {
	padding: 8px 0 8px 0px;
	flex-grow: 1;
}
.toast-container .toast > .material-icons {
	font-size: 24px !important;
	margin-right: 12px;
	padding: 7px 0;
}
.toast-container .toast button  {
	font-size: 20px !important;
	margin-left: 12px;
	padding: 0px 0;
	background-color: transparent;
}